.wrapper {
  background-image: 
  linear-gradient(to top, $color-back, $color-back-a),
  url('img/background.jpg');
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Panton;

  .modal {
    position: absolute;
    z-index: 10;
    top: 30%;
    left: calc(50% - (144px + 624 * ((100vw - 360px) / (1920 - 360)))/2);
    @include go-adaptive('width', 768, 144);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $color-modal;
    border-radius: 5px;
    padding: 10px 20px;
    transition: $trans-set;

    &__close {
      position: absolute;
      right: 2%;
      cursor: pointer;
    }

    &__header {
      margin: 0;
      @include go-adaptive('font-size', 40, 15);
    }

    &__body {
      text-align: justify;
      font-weight: 500;
      @include go-adaptive('font-size', 25, 10);
    }
  }

  .hide {
    overflow: hidden;
    opacity: 0;
  }

  .header {
    width: 100%;
    flex: 0 0 auto;
    @include go-adaptive('padding-top', 30, 10);
    @include go-adaptive('padding-left', 30, 10);
    @include go-adaptive('padding-right', 30, 10);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: $color-text;
    
    &__logo {
      text-align: center;
      flex: 0 0 40%;
      font-weight: 800;
      @include go-adaptive('font-size', 80, 30);

      .word {
        color: $color-button;
      }
    }

    &__pages {
      flex: 0 0 60%;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      font-weight: 600;
      gap: 10px;
      @include go-adaptive('font-size', 30, 10);

      &-main,
      &-quize,
      &-rules {
        @include button;

        &:hover {
          background-color: $color-button-active;
          color: $color-text;
        }
      }
    }

    .active {
      background-color: $color-text;
      color: $color-button;

      &:hover {
        background-color: $color-button-active;
        color: $color-text;
      }
    }
  }

  .main {
    flex: 1 0 auto;
    width: 100%;
    @include go-adaptive('padding-left', 30, 10);
    @include go-adaptive('padding-right', 30, 10);
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-text;

    &__caption {
      width: 70%;
      text-align: center;
      @include go-adaptive('font-size', 60, 25);
    }

    &__button {
      display: block;
      @include go-adaptive('width', 300, 100);
      @include go-adaptive('height', 60, 30);
      border: none;
      font-weight: 600;
      @include go-adaptive('font-size', 40, 18);
      @include go-adaptive('border-radius', 10, 5);
      color: $color-text;
      background-color: $color-button;
      box-shadow: 0 6px 0 $color-shadow;
      cursor: pointer;
      transition: $trans-set;
      position: relative;
      top: 0;

      &:hover {
        box-shadow: 0 0 0 $color-shadow;
        top: 5px;
      }
    }
  }

  .footer {
    flex: 0 0 auto;
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @include go-adaptive('padding-left', 30, 10);
    @include go-adaptive('padding-right', 30, 10);
    @include go-adaptive('padding-bottom', 30, 10);
    color: $color-text;

    .github-link,
    .year,
    .rs-link {
      flex: 0 0 30%;
      display: flex;
      justify-content: center;
    }
  }
}